@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Martel Sans', 'Poppins', sans-serif;
}
body {
    background-color: #e2e7e6;
}
/*first navbar*/
/*box1*/
.first-nav {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    width: 100px;
    height: 50px;
}
.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    width: 100%;
    height: 50px;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1.3px solid white;
}
/*box2*/
.add-first {
    color: #cccccc;
    font-size: 0.80rem;
    /*value is in rem because when we will make it responsive so that size of it will be adjusted acc to the root element*/
    padding-left: 18px;
}
.add-icon {
    display: flex;
    align-items: center;
}
.add-sec {
    color: white;
    font-size: 0.95rem;
    padding-left: 3px;
}
/*box3*/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    width: 800px;
    height: 40px;
    border-radius: 4px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    /* because we want left side of the border to be curved*/
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febd68;
    border-top-right-radius: 4px;
    /* because we want right side of the border to be curved*/
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
    color: black;
}
.nav-search:hover {
    border: 2.2px solid orange;
}
/*box4*/
.nav-first {
    font-size: 0.7rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}
/*box5*/
.nav-cart i {
    font-size: 27px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}
/*second navbar*/
.sec-nav {
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.panel-all {
    font-weight: 700;
    cursor: pointer;
}
.panel-opt p {
    display: inline;
    margin-left: 13px;
    cursor: pointer;
}
.panel-opt {
    width: 70%;
    font-size: 0.85rem;
    display: inline;
    position: relative;
    right: 85px;
}
.panel-deal {
    font-size: 0.98rem;
    font-weight: 700;
    cursor: pointer;
}
/*hero section*/
.hero-section {
    background-image: url(hero_image.jpg);
    height: 400px;
    background-size: cover;
}
.hero-msg {
    height: 40px;
    background-color: white;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: relative;
    top: 85%;
    left: 50px;
}
.hero-msg a {
    color: #007185;
    text-decoration: none;
    margin-left: 5px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    max-width: 95vw;
    gap: 20px;
}
.box {
    /* border: 2px solid black; */
    margin-top: 1rem;
    background-color: white;
    padding: 20px 0px 15px;
    font-size: 23px;
    height: 420px;
}
.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.85rem
}
.box-content p {
    color: #007185;
    font-size: 1rem;
}
.first {
    margin-top: 15px;
    height: 250px;
    background-color: whitesmoke;
}
.radius {
    border: 2.3px solid rgb(187, 185, 185);
    border-radius: 4px;
    max-width: 99.5%;
    position: relative;
    top: 55px;
    left: 2px;
}
.recommendation {
    height: 100px;
    background-color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign{
    border: 2px solid black;
    background-color: #fed813;
   width:100px;
   border-radius: 30px;
   font-size: 1rem;
   font-weight: 550;
   height: 45px;
   width: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   cursor: pointer;
}
.signdiv{
    display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 38px;
}
.link{
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.85rem;
   position: relative;
   bottom: 38px;
}
.sepataion{
    height: 60px;
    width: 100%;
    color:white;
    background-color: #364759;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
